In [4]:
## 경로 변경 및 출력
os.chdir('C:/Data_analysis/data')
print(os.getcwd())

C:\Data_analysis\data

구글 스프레드 시트 가져오기
- pip install gspread
- pip install --upgrade oauth2client

In [5]:
import pandas as pd
import pickle
import gspread
from oauth2client.service_account import ServiceAccountCredentials

In [42]:
## 1) 코드내 환경 셋업
# 앞서 내려 받은 JSON 파일을 불러와 구글 시트와 연동합니다
from oauth2client.service_account import ServiceAccountCredentials
import gspread

scope = ['https://spreadsheets.google.com/feeds',
         'https://www.googleapis.com/auth/drive']
credentials = ServiceAccountCredentials.from_json_keyfile_name(
        'cryptic-honor-351410-7b1371906598.json', scope)
gc = gspread.authorize(credentials)

In [43]:
# get_all_values() 함수를 이용해 코드를 실행하면 리스트 형태의 값이 리턴됩니다.
gc1 = gc.open("설문결과").worksheet('시트1')
gc2 = gc1.get_all_values()
print(gc2)

[['타임스탬프', 'ID', 'SEX', 'AGE', 'HE_HT', 'HE_WT', 'LQ_1EQL', 'LQ_2EQL', 'LQ_3EQL', 'LQ_4EQL', 'LQ_5EQL', 'TOTAL_SLP_WD', 'BE3_81', 'BE3_85', 'BP1', 'SM_PRESNT', 'L_BR_FQ', 'BH1', 'HE_FH', 'HE_DBP', 'LQ4_00', 'BP7', 'MH_STRESS', 'HE_RPLS', 'BS13', 'BD1_11', 'N_INTK', 'N_EN', 'N_PROT', 'N_WATER', 'N_FAT', 'N_SFA', 'N_MUFA', 'N_CHOL', 'N_SUGAR', 'N_PHOS', 'N_NA', 'N_CAROT'], ['2022. 5. 26 오후 7:41:20', 'Leedongeon', '0', '71', '171', '71', '1', '1', '1', '1', '1', '9', '1', '1', '1', '0', '1', '1', '0', '0', '1', '1', '0', '1', '1', '1', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0'], ['2022. 5. 26 오후 7:43:02', 'A지현', '0', '65', '183', '65', '1', '1', '1', '1', '2', '6', '2', '1', '2', '1', '1', '2', '1', '78', '2', '1', '1', '1', '1', '4', '0', '3100', '1200', '76', '0', '0', '0', '0', '0', '0', '0', '0'], ['2022. 5. 27 오후 3:13:09', 'JYSONG', '0', '65', '177', '75', '1', '1', '1', '1', '1', '5', '2', '2', '4', '1', '1', '2', '0', '85', '2', '2', '0', '1', '1', '3', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0']]

In [44]:
# pandas 패키지를 활용해 데이터 프레임으로 받아올 수도 있습니다.
gc2 = pd.DataFrame(gc2, columns=gc2[0])
gc2 = gc2.reindex(gc2.index.drop(0))
gc2

,타임스탬프,ID,SEX,AGE,HE_HT,HE_WT,LQ_1EQL,LQ_2EQL,LQ_3EQL,LQ_4EQL,...,N_PROT,N_WATER,N_FAT,N_SFA,N_MUFA,N_CHOL,N_SUGAR,N_PHOS,N_NA,N_CAROT
1,2022. 5. 26 오후 7:41:20,Leedongeon,0,71,171,71,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
2,2022. 5. 26 오후 7:43:02,A지현,0,65,183,65,1,1,1,1,...,1200,76,0,0,0,0,0,0,0,0
3,2022. 5. 27 오후 3:13:09,JYSONG,0,65,177,75,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0

In [45]:
gc2['L_BR_FQ']

1    1
2    1
3    1
Name: L_BR_FQ, dtype: object

In [89]:
main_list = ['ID', 'SEX', 'AGE', 'HE_HT', 'HE_WT', 'HE_BMI', 'LQ_1EQL', 'LQ_2EQL',
       'LQ_3EQL', 'LQ_4EQL', 'LQ_5EQL', 'TOTAL_SLP_WD', 'BE3_81', 'BE3_85',
       'BP1', 'SM_PRESNT', 'L_BR_FQ', 'BH1', 'HE_FH', 'HE_DBP', 'LQ4_00',
       'BP7', 'MH_STRESS', 'HE_RPLS', 'BS13', 'BD1_11', 'N_INTK', 'N_EN',
       'N_PROT', 'N_WATER', 'N_FAT', 'N_SFA', 'N_MUFA', 'N_CHOL', 'N_SUGAR',
       'N_PHOS', 'N_NA', 'N_CAROT']

In [90]:
## 데이터 불러오기
dis = pd.read_csv('data_dis.csv',index_col=0)

In [91]:
## 설문지 -> 데이터프레임
test = pd.DataFrame(columns=main_list)

for i in test.columns:
    if i == 'HE_BMI':
        test[i] = round(gc2['HE_WT'].astype('int') / (gc2.loc[:,'HE_HT'].astype('int') * 2)*100,1)
    else:
        test[i] = gc2[i]

In [92]:
### 질병에 따른 각 변수에 대한 사전
with open('dis_var.pkl', 'rb') as f:
    dis_var = pickle.load(f)

In [93]:
### 질병이름 사전
with open('dis_name.pkl', 'rb') as f:
    dis_name = pickle.load(f)

## 질병명만 출력

In [94]:
dis_list = []
for n in range(0,len(test)):
    if 'ID' in test.columns:
        ID = test['ID']
        test = test.drop('ID',axis=1)
    else:
        test = test
    for i in range(0,len(dis.columns)-1):
        ## 질병 머신러닝 모델
        with open(f'{dis.columns[i]}.pkl', 'rb') as f:
            model = pickle.load(f)
            if model.predict(test[dis_var[dis.columns[i]]])[0] == 1:
                dis_list.append(dis_name[dis.columns[i]])
    try:
        print(f'{ID[n+1]}님의 생활패턴 유사도 결과 {len(dis_list)}가지 질병에서 유병자와의 생활패턴이 일치하다고 예측되었습니다. \n{dis_list}')
    except:
        print(f'고객님의 생활패턴 유사도 결과 {len(dis_list)}가지 질병에서 유병자와의 생활패턴이 일치하다고 예측되었습니다. \n{dis_list}')

Leedongeon님의 생활패턴 유사도 결과 4가지 질병에서 유병자와의 생활패턴이 일치하다고 예측되었습니다.
['골관절염', '천식', '당뇨병', '갑상선 질환']
A지현님의 생활패턴 유사도 결과 8가지 질병에서 유병자와의 생활패턴이 일치하다고 예측되었습니다.
['골관절염', '천식', '당뇨병', '갑상선 질환', '골관절염', '천식', '당뇨병', '갑상선 질환']
JYSONG님의 생활패턴 유사도 결과 12가지 질병에서 유병자와의 생활패턴이 일치하다고 예측되었습니다.
['골관절염', '천식', '당뇨병', '갑상선 질환', '골관절염', '천식', '당뇨병', '갑상선 질환', '골관절염', '천식', '당뇨병', '갑상선 질환']

## 질병 : 유사도 (%)

In [106]:
result = pd.DataFrame(columns=['ID','DI2_DG', 'DI3_DG', 'DI4_DG', 'DI5_DG', 'DM2_DG', 'DM3_DG', 'DM4_DG',
       'DJ2_DG', 'DJ4_DG', 'DJ6_DG', 'DJ8_DG', 'DI6_DG', 'DF2_DG', 'DL1_DG',
       'DE1_DG', 'DE2_DG', 'DH4_DG', 'DC1_DG', 'DC3_DG', 'DK8_DG'])
result

Empty DataFrame
Columns: [ID, DI2_DG, DI3_DG, DI4_DG, DI5_DG, DM2_DG, DM3_DG, DM4_DG, DJ2_DG, DJ4_DG, DJ6_DG, DJ8_DG, DI6_DG, DF2_DG, DL1_DG, DE1_DG, DE2_DG, DH4_DG, DC1_DG, DC3_DG, DK8_DG]
Index: []

[0 rows x 21 columns]

In [ ]:
with open('result.pkl', 'rb') as f:
        r = pickle.load(f)

In [108]:
cont = int(input('처음부터 출력할까요? (예:1/아니오:2)'))
if cont == 1:
    start = 0
elif cont == 2:
    with open('data_n.pkl', 'rb') as f:
        m = pickle.load(f)
        start = m + 1

print(start)

0

In [109]:
## 설문지 -> 데이터프레임
test = pd.DataFrame(columns=main_list)

for i in test.columns:
    if i == 'HE_BMI':
        test[i] = round(gc2['HE_WT'].astype('int') / (gc2.loc[:,'HE_HT'].astype('int') * 2)*100,1)
    else:
        test[i] = gc2[i]

In [110]:
try:
    for n in range(start,len(test)):
        aa = []
        if 'ID' in test.columns:
            result.loc[n,'ID'] = test.values[n][0]
            print(f"{test.values[n][0]}님과 각 질병 유병자들과의 생활패턴 유사도 결과입니다.\n")
            data = test.drop('ID',axis=1)
        else:
            print("각 질병 유병자들과의 생활패턴 유사도 결과입니다.",'\n')
            data = test
        for i in range(0,len(dis.columns)-1):
            ## 질병 머신러닝 모델
            with open(f'{dis.columns[i]}.pkl', 'rb') as f:
                model = pickle.load(f)
                percent = round(model.predict_proba(data.iloc[[n]][dis_var[dis.columns[i]]])[0][1]*100,2)
            print(f'{dis_name[dis.columns[i]]} : {percent}%')
            if cont == 1:
                result.loc[n,dis.columns[i]] = percent

        print('-' * 100)

        pickle.dump(n, open('data_n.pkl', 'wb'))
        pickle.dump(result, open('result.pkl', 'wb'))    
except:
    print('새로운 데이터가 없습니다.')

Leedongeon님과 각 질병 유병자들과의 생활패턴 유사도 결과입니다.

이상지질혈증 : 0.0%
뇌졸중 : 21.93%
심혈관질환 : 98.32%
심근경색증 : 0.0%
골관절염 : 100.0%
류마티스성 관절염 : 20.32%
골다공증 : 21.86%
폐결핵 : 0.0%
천식 : 60.62%
부비동염 : 35.99%
알레르기비염 : 26.25%
협심증 : 0.07%
우울증 : 0.0%
아토피피부염 : 37.1%
당뇨병 : 95.46%
갑상선 질환 : 100.0%
중이염 : 0.55%
위암 : 34.71%
대장암 : 23.13%
B형간염 : 37.47%
----------------------------------------------------------------------------------------------------
A지현님과 각 질병 유병자들과의 생활패턴 유사도 결과입니다.

이상지질혈증 : 0.0%
뇌졸중 : 12.68%
심혈관질환 : 96.09%
심근경색증 : 0.0%
골관절염 : 0.0%
류마티스성 관절염 : 37.3%
골다공증 : 21.73%
폐결핵 : 0.0%
천식 : 60.62%
부비동염 : 23.47%
알레르기비염 : 26.25%
협심증 : 21.91%
우울증 : 0.0%
아토피피부염 : 46.7%
당뇨병 : 26.36%
갑상선 질환 : 84.99%
중이염 : 0.5%
위암 : 32.92%
대장암 : 23.12%
B형간염 : 35.47%
----------------------------------------------------------------------------------------------------
JYSONG님과 각 질병 유병자들과의 생활패턴 유사도 결과입니다.

이상지질혈증 : 0.0%
뇌졸중 : 21.75%
심혈관질환 : 95.05%
심근경색증 : 0.0%
골관절염 : 100.0%
류마티스성 관절염 : 20.28%
골다공증 : 21.86%
폐결핵 : 0.0%
천식 : 60.62%
부비동염 : 11.53%
알레르기비염 : 26.25%
협심증 : 19.82%
우울증 : 0.0%
아토피피부염 : 28.94%
당뇨병 : 17.72%
갑상선 질환 : 100.0%
중이염 : 0.48%
위암 : 32.82%
대장암 : 23.13%
B형간염 : 34.41%
----------------------------------------------------------------------------------------------------

In [111]:
result

,ID,DI2_DG,DI3_DG,DI4_DG,DI5_DG,DM2_DG,DM3_DG,DM4_DG,DJ2_DG,DJ4_DG,...,DJ8_DG,DI6_DG,DF2_DG,DL1_DG,DE1_DG,DE2_DG,DH4_DG,DC1_DG,DC3_DG,DK8_DG
0,Leedongeon,0.0,21.93,98.32,0.0,100.0,20.32,21.86,0.0,60.62,...,26.25,0.07,0.0,37.1,95.46,100.0,0.55,34.71,23.13,37.47
1,A지현,0.0,12.68,96.09,0.0,0.0,37.3,21.73,0.0,60.62,...,26.25,21.91,0.0,46.7,26.36,84.99,0.5,32.92,23.12,35.47
2,JYSONG,0.0,21.75,95.05,0.0,100.0,20.28,21.86,0.0,60.62,...,26.25,19.82,0.0,28.94,17.72,100.0,0.48,32.82,23.13,34.41

In [112]:
with open('result.pkl', 'rb') as f:
        r = pickle.load(f)

print(r)

           ID DI2_DG DI3_DG DI4_DG DI5_DG DM2_DG DM3_DG DM4_DG DJ2_DG DJ4_DG  \
0  Leedongeon    0.0  21.93  98.32    0.0  100.0  20.32  21.86    0.0  60.62
1         A지현    0.0  12.68  96.09    0.0    0.0   37.3  21.73    0.0  60.62
2      JYSONG    0.0  21.75  95.05    0.0  100.0  20.28  21.86    0.0  60.62

   ... DJ8_DG DI6_DG DF2_DG DL1_DG DE1_DG DE2_DG DH4_DG DC1_DG DC3_DG DK8_DG
0  ...  26.25   0.07    0.0   37.1  95.46  100.0   0.55  34.71  23.13  37.47
1  ...  26.25  21.91    0.0   46.7  26.36  84.99    0.5  32.92  23.12  35.47
2  ...  26.25  19.82    0.0  28.94  17.72  100.0   0.48  32.82  23.13  34.41

[3 rows x 21 columns]